---
const { text } = Astro.props;
---
<div class="mt-24 pt-12 border-t text-center text-sm text-muted-foreground">
    { text } 
    <a href="https://portfolio-dev-phi-five.vercel.app/"> Ivan Plaza</a>
</div>